{
	auto_https off
}

:443 {
	tls /run/secrets/tls.crt /run/secrets/tls.key

	handle_path /zuul/* {
		reverse_proxy zuul-web:9000
	}

	handle {
		forward_auth oauth2-proxy:4180 {
			uri /oauth2/auth
			copy_headers X-Auth-Request-User X-Auth-Request-Email Authorization
		}
		reverse_proxy gerrit:8080
	}
}
