[project]
	description = Canonical ctrl qualification monorepo
	submitType = REBASE_ALWAYS

[change]
	submitWholeTopic = true

[submit]
	mergeContent = true

[label "Code-Review"]
	function = NoBlock
	defaultValue = 0
	value = -2 This shall not be submitted
	value = -1 I would prefer this is not submitted as is
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	copyCondition = changekind:NO_CODE_CHANGE OR changekind:TRIVIAL_REBASE

[label "Verified"]
	function = NoBlock
	defaultValue = 0
	value = -1 Fails
	value = 0 No score
	value = +1 Verified
	copyCondition = changekind:NO_CODE_CHANGE

[submit-requirement "Code-Review"]
	description = One non-uploader must approve
	applicableIf = -branch:refs/meta/config
	submittableIf = label:Code-Review=MAX,user=non_uploader

[submit-requirement "Verified"]
	description = Zuul must verify the current patch set
	applicableIf = -branch:refs/meta/config
	submittableIf = label:Verified=MAX

[submit-requirement "No-Unresolved-Comments"]
	description = Every review thread must be resolved
	applicableIf = -branch:refs/meta/config
	submittableIf = -has:unresolved

[access "refs/heads/main"]
	read = group Anonymous Users
	push = block group Registered Users
	create = group Project Owners
	label-Code-Review = -2..+2 group Registered Users
	label-Verified = -1..+1 group Service Users
	submit = group Service Users

[access "refs/for/refs/heads/main"]
	push = group Registered Users
	pushMerge = block group Registered Users

[access "refs/tags/*"]
	read = group Anonymous Users
	createTag = group Release Managers
	createSignedTag = group Release Managers
